---
page-class: page-post
---
{% include header.html %}
<article class="post hentry clearfix">
  <header class="entry-header">
    <h1 class="entry-title">{{ page.title }}</h1>
    <div class="entry-meta entry-meta-header">
      <span class="entry-meta-icon">
        {% include icons/icon-clock.svg %}
      </span>
      <time class="date updated" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>
    </div>
  </header>
  <div class="entry-content">
    {{ content }}
  </div>
  {% if page.tags != empty or page.suggested_tweet %}
    <footer class="entry-meta entry-meta-footer">
      {% if page.suggested_tweet %}
        <div class="entry-meta-suggested-tweet">
          <h3 class="suggested-tweet-title">Spread the Word</h3>
          <a href="{% suggested_tweet %}" class="suggested-tweet-bubble">
            {% if page.suggested_tweet.text != empty %}
              <span class="suggested-tweet-text">{{ page.suggested_tweet.text }}</span>
            {% endif %}
            {% if page.suggested_tweet.hashtags != empty %}
              {% for hashtag in page.suggested_tweet.hashtags %}
                <span class="suggested-tweet-hashtag">#{{ hashtag }}</span>
              {% endfor %}
            {% endif %}
          </a>
          <p class="suggested-tweet-link"><a href="{% suggested_tweet %}"><span class="suggested-tweet-icon">{% include icons/icon-twitter.svg %}</span>Click to Tweet</a> <small>(you may edit before posting.)</small></p>
        </div>
      {% endif %}
      {% if page.tags != empty %}
      <div class="entry-meta-footer-bottom">
        {% if page.tags != empty %}
          <span class="entry-meta-icon">
            {% include icons/icon-tag.svg %}
          </span>
          {% for tag in page.tags %}
            <a class="nav-link-tag" href="/tag/{{ tag | slugify }}" rel="tag">{{ tag }}</a>{% if forloop.last == false %}, {% endif %}
          {% endfor %}
        {% endif %}
      </div>
      {% endif %}
    </footer>
  {% endif %}
</article>
<nav class="post-navigation clearfix" role="navigation">
  <h1 class="visuallyhidden">Post navigation</h1>
  {% if page.previous %}
    <div class="nav-previous">
      <a class="nav-previous-link" href="{{ site.url }}{{ page.previous.url }}" rel="prev">{{ page.previous.title }}</a>
    </div>
  {% endif %}
  {% if page.next %}
    <div class="nav-next">
      <a class="nav-next-link" href="{{ site.url }}{{ page.next.url }}" rel="next">{{ page.next.title }}</a>
    </div>
  {% endif %}
</nav>
{% include footer.html %}
