// ==========================================================================
// Footer
// ==========================================================================

.site-footer {
  color: $footer-color;
  text-shadow: 0 1px 1px rgba($text-color, 0.25);

  @include breakpoint(smaller-than-small-desktop) {
    text-align: center;
  }
}

// -------------------------------------
//  Footer Primary
// -------------------------------------

.site-footer--primary {
  float: left;

  @include breakpoint(smaller-than-small-desktop) {
    float: none;
    display: inline-block;
  }
}

.site-footer--copyright {
  display: inline-block;
  margin-right: 5px;
}

.site-footer--feed {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 0;

  &:hover,
  &:focus {

    .icon-rss--background {
      opacity: 1;
    }

    .icon-rss--foreground {
      fill: #FF6600;
    }
  }

  .icon-rss {
    width: inherit;
    height: inherit;
  }

  .icon-rss--background {
    fill: $white;
    opacity: 0;
    transition: opacity 0.2s;
    backface-visibility: hidden;
  }

  .icon-rss--foreground {
    fill: $footer-color;
    transition: fill 0.2s;
    backface-visibility: hidden;
  }
}


// -------------------------------------
//  Footer Secondary
// -------------------------------------

.site-footer--secondary {
  float: right;

  @include breakpoint(smaller-than-small-desktop) {
    float: none;
    @include rem(margin, 0 0 2);
  }
}

.site-footer--icons {
  margin-left: 0;
  list-style: none;
  text-align: center;
}

.site-footer--icons__item {
  display: inline-block;
  vertical-align: middle;
}

.site-footer--icons__anchor {
  display: block;

  &:link,
  &:visited {
    color: inherit;
  }

  &:hover,
  &:focus {

    .icon {
      transform: scale(1.2);
    }

    .site-footer--icons--title {
      opacity: 1;
    }
  }
}

.site-footer--icons__icon {

  .icon {
    width: 30px;
    height: 30px;
    transition: transform 0.2s;
    backface-visibility: hidden;
  }

  .icon-foreground {
    fill: $footer-color;
  }
}

.site-footer--icons--title {
  display: block;
  opacity: 0;
  @extend %epsilon-font-size;
  @extend %font-open-sans-semibold;
  transition: opacity 0.2s;
  backface-visibility: hidden;
}
