// ==========================================================================
// Footer
// ==========================================================================

.site-footer {
  color: $footer-color;
  text-shadow: 0 1px 1px rgba($text-color, 0.25);

  @include breakpoint(smaller-than-small-desktop) {
    text-align: center;
  }
}

.footer-icons {
  float: right;
  position: relative;
  @include rem(top, -1.5);
  list-style: none;
  text-align: center;

  @include breakpoint(smaller-than-small-desktop) {
    position: static;
    top: 0;
    @include rem(margin, 0 0 3);
    float: none;
  }
}

.footer-icon-item {
  display: inline-block;
}

.footer-icon-anchor {
  display: block;
  @include rem(width, 4);
  @include rem(height, 4);
  border-radius: 50%;
  transition: all 0.25s ease-in;
  backface-visibility: hidden;

  &:link,
  &:visited {
    color: inherit;
  }

  &:hover,
  &:active,
  &:focus {
    color: $white-dark;

    .footer-icon-title {
      opacity: 1;
    }

    &:before {
      transform: scale(1.25);
    }
  }
}

.footer-icon {
  display: block;
  @include rem(line-height, 4);

  &:before {
    @extend %beta-font-size;
    transition: all 0.25s ease-in-out;
    backface-visibility: hidden;
  }
}

.footer-icon-title {
  opacity: 0;
  display: block;
  @extend %epsilon-font-size;
  line-height: 0;
  @extend %font-open-sans-semibold;
  transition: all 0.25s ease-in-out;
  backface-visibility: hidden;
}

.footer-info {
  float: left;

  @include breakpoint(smaller-than-small-desktop) {
    float: none;
    display: inline-block;
  }
}

.footer-info--copyright {
  display: inline-block;
  margin-right: 2px;
}

.footer-info--feed {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 0;
  transition: all 0.25s;
  backface-visibility: hidden;

  &:hover,
  &:focus {

    .icon-rss--background {
      opacity: 1;
    }

    .icon-rss--foreground {
      fill: #FF6600;
    }
  }

  .icon-rss {
    width: inherit;
    height: inherit;
  }

  .icon-rss--background {
    fill: $white;
    opacity: 0;
  }

  .icon-rss--foreground {
    fill: $footer-color;
  }
}
