// ==========================================================================
// Header
// ==========================================================================

.site-logo {
  float: left;
  @include rem(margin-right, 2);
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-name: bounceIn;
  backface-visibility: hidden;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  70% {
    transform: scale(.9);
  }

  100% {
    transform: scale(1);
  }
}

%balloon-color {
  fill-rule: evenodd;
  transition: fill 0.2s;
  backface-visibility: hidden;
}

.site-logo--svg {
  @include rem(width, 6);
  @include rem(height, 6);
  transition: transform 0.2s;
  backface-visibility: hidden;

  &:hover,
  &:focus {
  	transform: scale(1.125) rotate(2deg);
  }

  .blue {
    @extend %balloon-color;
    fill: #2f93d5;

    &:hover,
    &:focus {
      fill: #2782bf;
    }
  }

  .green {
    @extend %balloon-color;
    fill: #35c06a;

    &:hover,
    &:focus {
      fill: #2fac5f;
    }
  }

  .orange {
    @extend %balloon-color;
    fill: #f57a00;

    &:hover,
    &:focus {
      fill: #db6d00;
    }
  }

  .yellow {
    @extend %balloon-color;
    fill: #f5c500;

    &:hover,
    &:focus {
      fill: #dbb000;
    }
  }

  .red {
    @extend %balloon-color;
    fill: #ff330f;

    &:hover,
    &:focus {
      fill: #f02400;
    }
  }
}
