// ==========================================================================
// Header
// ==========================================================================

.site-header {
  @extend %clearfix;
}

.site-logo {
  float: left;
  @include rem(margin-right, 2);
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-name: bounceIn;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  70% {
    transform: scale(.9);
  }

  100% {
    transform: scale(1);
  }
}

.svg-logo {
  @include rem(width, 6);
  @include rem(height, 6);
  transition: all .25s ease-in-out;

  &:hover {
  	transform: scale(1.125) rotate(2deg);
  }
}
