// ==========================================================================
// Navigation
// ==========================================================================

// Common navigation
nav {
  text-transform: uppercase;

  a {

    &:link,
    &:visited {
      color: $link-nav-color;
    }

    &:hover {
      color: $link-nav-color-hover;
    }

    &:focus,
    &:active {
      color: $link-nav-color-focus;
    }
  }
}

// Main navigation
.main-navigation {
  float: left;
  margin-top: 2.25rem;

  ul {
    margin: 0;
  }

  li {
    float: left;
    margin-left: 2rem;

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    padding-bottom: 0.25rem;

    &:hover {
      border-bottom: 2px solid $link-color-focus;
    }
  }
}

// Current page
%current-page-cursor {
  cursor: text;
}

@each $page in home, about {
  .page-#{$page} .nav-#{$page} {
    color: $link-nav-color-hover;
    @extend %current-page-cursor;
    border-bottom: none !important;
  }
}

// Post and page navigation
.post-navigation,
.paging-navigation {
  padding-top: 3rem;
}

.post-navigation {
  @include border(hr,top);
}

.nav-previous {
  float: left;
}

.nav-previous-link {

  &:before {
    content: "\2190";
    margin-right: 0.25rem;
  }
}

.nav-next {
  float: right;
}

.nav-next-link {

  &:after {
    content: "\2192";
    margin-left: 0.25rem;
  }
}
