// ==========================================================================
// Primary
// ==========================================================================

.post {
  margin: 6% 0;

  &:first-child {
    margin-top: 0;
  }

  @include breakpoint(smaller-than-small-desktop) {
    margin: 9% 0;
  }

  @include breakpoint(mobile-portrait-to-mobile-landscape) {
    margin: 12% 0;
  }
}

.entry-meta--header,
.entry-meta--footer__bottom {
  color: $color-meta--color;

  a {
    color: inherit;

    &:hover {
      color: $color-meta--color__hover;
    }

    &:focus {
      color: $color-meta--color__focus;
    }
  }
}

.entry-meta--header {
  margin-bottom: 3%;
  @extend %font-open-sans-semibold;
}

.entry-meta--icon {
  position: relative;
  top: 2px;
  display: inline-block;
  margin-right: 2px;
  width: 15px;
  height: 15px;
  line-height: 0;
  transition: all 0.25s;
  backface-visibility: hidden;

  .icon {
    width: inherit;
    height: inherit;
  }

  .icon-foreground {
    fill: $color-meta--color;
  }
}

.entry-meta--link {
  color: $color-meta--color;

  &:hover {
    color: $color-meta--color__hover;

    .entry-meta--icon {

      .icon-foreground {
        fill: $color-meta--color__hover;
      }
    }
  }

  &:focus {
    color: $color-meta--color__focus;

    .entry-meta--icon {

      .icon-foreground {
        fill: $color-meta--color__focus;
      }
    }
  }
}

.entry-content {
  margin-bottom: 6%;

  >p {

    &:first-child {
      @extend %delta-font-size;
    }
  }
}

.continue-reading {
  @extend %button;

  &:after {
    content: "\2192";
    margin-left: 0.5rem;
  }
}
