// ==========================================================================
// Primary
// ==========================================================================

.post {
  margin: 4.1rem 0 3rem;

  &:first-child {
    margin-top: 0;
  }
}

.entry-meta-header,
.entry-meta-footer-bottom {
  color: $link-meta-color;

  a {

    &:link,
    &:visited {
      color: inherit;
    }

    &:hover {
      color: $link-meta-color-hover;
    }

    &:focus,
    &:active {
      color: $link-meta-color-focus;
    }
  }
}

.entry-meta-header {
  margin-bottom: 0.7rem;
  @extend %font-open-sans-semibold;
}

.entry-meta-icon {
  position: relative;
  top: 1px;
  display: inline-block;
  margin-right: 2px;
  width: 15px;
  height: 15px;
  line-height: 0;
  transition: all 0.25s;
  backface-visibility: hidden;

  .icon {
    width: inherit;
    height: inherit;
  }

  .icon-foreground {
    fill: $icon-meta-color;
  }
}

.entry-meta-link {

  &:link,
  &:visited {
    color: $link-meta-color;
  }

  &:hover {
    color: $link-meta-color-hover;
  }

  &:focus,
  &:active {
    color: $link-meta-color-focus;
  }
}

.entry-content {
  overflow: hidden;
  margin-bottom: 3rem;

  >p {

    &:first-child {
      @extend %delta-font-size;
    }
  }
}

.continue-reading {
  margin-top: 0.75rem;
  @extend %button-blue;

  &:after {
    content: "\2192";
    margin-left: 0.5rem;
  }
}
