// ==========================================================================
// Secondary
// ==========================================================================

.secondary {

  @include breakpoint(smaller-than-small-desktop) {
    background-color: $color-secondary;
  }
}

.secondary-photo {
  @extend %margin-bottom;
  width: 75%;

  @include breakpoint(smaller-than-small-desktop) {
    margin: 0 0 0 1.5rem;
    float: right;
    width: 100px;
  }

  @include breakpoint(mobile-portrait-to-mobile-landscape) {
    margin: 0 auto 1.5rem;
    display: block;
    float: none;
    width: 75%;
  }
}

.secondary-twitter--link {
  &:hover {
    .secondary-twitter--icon {
      .icon-foreground {
        fill: $color-link--color__hover;
      }
    }
  }

  &:focus {
    .secondary-twitter--icon {
      .icon-foreground {
        fill: $color-link--color__focus;
      }
    }
  }
}

.secondary-twitter--icon {
  position: relative;
  top: 4px;
  display: inline-block;
  margin-right: 4px;
  width: 20px;
  height: 20px;
  line-height: 0;
  transition: all 0.25s;
  backface-visibility: hidden;

  .icon {
    width: inherit;
    height: inherit;
  }

  .icon-foreground {
    fill: $color-link--color;
  }
}
