// ==========================================================================
// Secondary
// ==========================================================================

.secondary {

  @include breakpoint(smaller-than-small-desktop) {
    background: $background-gray-light;
  }
}

.secondary-photo {
  @extend %margin-bottom;
  width: 75%;
  border-radius: 50%;

  @include breakpoint(smaller-than-small-desktop) {
    @include rem(margin, 0 0 0 1.5);
    float: right;
    width: 100px;
  }

  @include breakpoint(mobile-portrait-to-mobile-landscape) {
    @include rem(margin, 0 auto 1.5);
    display: block;
    float: none;
    width: 75%;
  }
}

.secondary-twitter--link {
  &:hover {
    .secondary-twitter--icon {
      .icon-foreground {
        fill: $link-color-hover;
      }
    }
  }

  &:focus,
  &:active {
    .secondary-twitter--icon {
      .icon-foreground {
        fill: $link-color-focus;
      }
    }
  }
}

.secondary-twitter--icon {
  position: relative;
  top: 4px;
  display: inline-block;
  margin-right: 4px;
  width: 20px;
  height: 20px;
  line-height: 0;
  transition: all 0.25s;
  backface-visibility: hidden;

  .icon {
    width: inherit;
    height: inherit;
  }

  .icon-foreground {
    fill: $link-color;
  }
}
