// ==========================================================================
// Forms
// ==========================================================================

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

input[type="text"],
textarea {
  width: 100%;
  display: block;
  padding: 0.5em;
  color: $gray-light;
  background: $white-dark;
  border: 1px solid $gray-lightest;
  border-radius: 0.33em;
  outline-color: transparent;
  outline-style: none;
  @extend %transitions-all;
  &:hover {
    color: $gray;
    background: $background-gray-light; }
  &:focus,
  &:active {
    color: $gray-dark;
    background: $white;
    box-shadow: inset 0 0 0.33em $white-dark; } }

textarea {
  resize: vertical; }

label {
  font-weight: $base-font-weight-bold;
  color: $gray-darker; }

// Placeholder styling
input::-webkit-input-placeholder {
    color: $gray-light; }

input:hover::-webkit-input-placeholder {
    color: $gray; }

input:-moz-placeholder {
    color: $gray-light; }

input:hover:-moz-placeholder {
    color: $gray; }