// ==========================================================================
// High DPI styles
// ==========================================================================

@media (min--moz-device-pixel-ratio: 1.3),
       (-o-min-device-pixel-ratio: 2.6/2),
       (-webkit-min-device-pixel-ratio: 1.3),
       (min-device-pixel-ratio: 1.3),
       (min-resolution: 1.3dppx) {

  body {
    // background: url("../img/background-@2x.png");
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAUQAAAAeBAMAAACmpnrQAAAAGFBMVEX///////////////////////////8AAAAplebaAAAACHRSTlMcJi42EQUKADfYSZgAAAGmSURBVHhe7VXBbcMwDKQLD2C5XSDyBLEW0IPIBpIXkLRB0PVLKinc5mQ0jz5aQPwEIczTnXnyUdHKIbxDXYt/dacxb9+7kQfr1omLjDxfofCwyNgF4PzszuNla4yEUotmK2UMjSxEkeQsJMuGx1lnp1HPe6KuMXmz3GXhWzjLATBR2JOp3E5ktGa7OGcNIUZUkigyJK/v0jwIwwqxMM1OHy0BQZa6JnwDs/Bx1hotyiEITBHW2rcTIEWeF1kQEImKdBcmPDfwicAmJj3sNIkSIJ8GIcj5kZ8f6sTIF4EVdpm+QJbkm36JAqbdhsFSFbZaMxFz2SslpsFYVw+73FUjJmfwuaDViZ0CNVyN9osJu7swJmOVjVvVOmqg5fbPEH/SQ49X0dhFw1JDn86/PWw2pGps7bbvXmJPZG41EdU9hfbTafc3dnFX1LyB/OLckcjjWxxuts76ux3e7sM1ATZQhBEliV1Q+lPhhpq40EWK7Qs3ZlwSfECerChrqArxk6G0DxF/JV16uvR0Gf5+uqz/Ol16uvR06enS06WnS0+Xni49XXq6fAC2thzXDkyaawAAAABJRU5ErkJggg==);
    background-size: 162px 15px; } }