// ==========================================================================
// High DPI styles
// ==========================================================================

@media (min--moz-device-pixel-ratio: 1.3),
       (-o-min-device-pixel-ratio: 2.6/2),
       (-webkit-min-device-pixel-ratio: 1.3),
       (min-device-pixel-ratio: 1.3),
       (min-resolution: 1.3dppx) {

  body {
    background: url("/assets/img/background-@2x.png"); } }