// ==========================================================================
// Legacy IE specific styles
// ==========================================================================

.chromeframe {
  padding: 3%;
  text-align: center;
  background: $background-gray-light; }

.lt-ie9 {
  .site-logo,
  .logo {
    width: 95px;
    height: 100px; }
  .logo {
    background: url("../img/logo.png") no-repeat; } }