// ==========================================================================
// Legacy IE specific styles
// ==========================================================================

.chromeframe {
  padding: 3%;
  text-align: center;
  background: $background-gray-light; }

.lt-ie9 {
  .primary {
    clear: both; } }