// ==========================================================================
// Info boxes
// ==========================================================================

%info-box-base {
  @include rem(padding, 1);
  @include rem(margin, 0 0 1.5);
  a {
    color: inherit !important;
    font-weight: $base-font-weight-bold; } }

%red-box,
.red-box {
  @extend %info-box-base;
  background: $red-lighter;
  color: $red-darker;
  border-left: 0.33em solid $red; }

%yellow-box,
.yellow-box {
  @extend %info-box-base;
  background: $yellow-lighter;
  color: $yellow-darker;
  border-left: 0.33em solid $yellow; } 

%green-box,
.green-box {
  @extend %info-box-base;
  background: $green-lighter;
  color: $green-darker;
  border-left: 0.33em solid $green; }

%gray-box,
.gray-box {
  @extend %info-box-base;
  background: $white-dark;
  color: $gray-dark;
  border-left: 0.33em solid $gray-lightest; }