// ==========================================================================
// Links
// ==========================================================================

a {
  &:link,
  &:visited {
    color: $link-color;
    font-weight: $base-font-weight-bold;
    text-decoration: none; }
  &:hover {
    color: $link-color-hover; }
  &:focus,
  &:active {
    color: $link-color-focus; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    &:link,
    &:visited {
      color: inherit; }
    &:hover {
      color: $link-heading-color-hover; }
    &:focus,
    &:active {
      color: $link-heading-color-focus; } } }