// ==========================================================================
// Media
// ==========================================================================

img {
  max-width: 100%;
  width: auto;
  vertical-align: middle; }