// ==========================================================================
// Scaffolding
// ==========================================================================

// apply a natural box layout model to all elements via http://paulirish.com/2012/box-sizing-border-box-ftw/
// universal selector doesn't apply to pseudo-elements, so: http://jsfiddle.net/grewis/nHaxL/4/
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  overflow-y: scroll;
  min-height: 100%; }

body {
  height: 100%;
  background: $gray-lightest; }

%margin-bottom {
  @include rem(margin-bottom, 1.5); }

.outer-container {
  max-width: 94%;
  @extend %transitions-all;
  @include breakpoint(large-desktop) {
    max-width: 1600px; }
  @include breakpoint(all-mobile) {
    max-width: 100%; } }

.inner-container {
  @extend %clearfix;
  background: $background-inner-container;
  box-shadow: 0 0 3em 0 rgba($green-darkest, 0.1); }

// Common
// ==========================================================================
.site-header,
.site-footer {
  padding: 6%; }

// Primary
// ==========================================================================
.primary {
  padding: 6% 4% 12% 6%;
  width: 70%;
  @include breakpoint(large-desktop) {
    width: 64%; }
  @include breakpoint(smaller-than-small-desktop) {
    padding: 6% 6% 12%; } }

// Secondary
// ==========================================================================
.secondary {
  padding: 6% 6% 12% 4%;
  width: 30%;
  @include breakpoint(large-desktop) {
    width: 36%; }
  @include breakpoint(smaller-than-small-desktop) {
    padding: 6%; } }

.primary,
.secondary {
  float: left;
  @include breakpoint(smaller-than-small-desktop) {
    float: none;
    width: auto; } }