// ==========================================================================
// Scaffolding
// ==========================================================================

// apply a natural box layout model to all elements via http://paulirish.com/2012/box-sizing-border-box-ftw/
// universal selector doesn't apply to pseudo-elements, so: http://jsfiddle.net/grewis/nHaxL/4/
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  overflow-y: scroll;
  min-height: 100%;
  background: $green;
  background: -moz-linear-gradient(top, $green 0%, $blue 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $green), color-stop(100%, $blue));
  background: -webkit-linear-gradient(top, $green 0%, $blue 100%);
  background: -o-linear-gradient(top, $green 0%, $blue 100%);
  background: -ms-linear-gradient(top, $green 0%, $blue 100%);
  background: linear-gradient(to bottom, $green 0%, $blue 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ECC71', endColorstr='#3498DB',GradientType=0 ); }

body {
  height: 100%;
  // background: url("../img/background.png");
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKIAAAAPCAMAAABQruQZAAAAGFBMVEX///////////////////////////8AAAAplebaAAAACHRSTlMDCA4VIx0oAGOp/P4AAAD1SURBVHja7VZBDsMwCAOMs///eEqoxEKzTuth2rT6SGVDHKxU6M4OmOlthhi9NULnqo6yO5GMY6ihU5rTVOYv8FGWHcNAegeFA+5dIvrKrMG2EJHe1INBmGbnhKiOPq0jhWcDmkN3wi0owzynTPbE52pc2JbVwkjFTXSgBeIEO5PA6l5UB6UwKjnOMeY0masedF37ZQCYAGztrWI7b5Gv1fWIM+W5nXFpb0MeNvJwlyqPcTtYxMWQy1LmPBOXnC6hWwtbxoU/HRdf3+/ruITqF8eFCfxfXHgYF34kLtfrcr0uh3FxqFQ7Y0w5ExdRcLGQUn53Ku5eSDSvOZXVuAAAAABJRU5ErkJggg==); }

%margin-bottom {
  @include rem(margin-bottom, 1.5); }

.outer-container {
  max-width: 94%;
  @extend %transitions-all;
  @include breakpoint(extra-large-desktop) {
    max-width: 1600px; }
  @include breakpoint(all-mobile) {
    max-width: 100%; } }

.inner-container {
  @extend %clearfix;
  background: $background-inner-container;
  box-shadow: 0 0 3em 0 rgba($green-darkest, 0.25); }

// Common
// ==========================================================================
.site-header {
  padding: 6% 6% 3%; }

// Primary
// ==========================================================================
.primary {
  padding: 6% 4% 12% 6%;
  width: 70%;
  @include breakpoint(large-desktop) {
    width: 64%; }
  @include breakpoint(smaller-than-small-desktop) {
    padding: 6% 6% 12%; } }

// Secondary
// ==========================================================================
.secondary {
  padding: 6% 6% 12% 4%;
  width: 30%;
  @include breakpoint(large-desktop) {
    width: 36%; }
  @include breakpoint(smaller-than-small-desktop) {
    padding: 6%; } }

.primary,
.secondary {
  float: left;
  @include breakpoint(smaller-than-small-desktop) {
    float: none;
    width: auto; } }

// Footer
// ==========================================================================
.site-footer {
  padding: 6%; }