// ==========================================================================
// Transitions
// ==========================================================================

%transitions-all {
  -webkit-transition: all 1s;
  transition: all 1s; }