.*/
.DS_Store*
ehthumbs.db
Thumbs.db
*.diff
*.err
*.log
*.orig
*.rej
*.swn
*.swo
*.swp
._*
*~
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
dist
node_modules
.tmp
bower_components
app/_includes/critical.css
