// ==========================================================================
// 404
// ==========================================================================

// scss-lint:disable IdSelector
#goog-fixurl ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#goog-wm-qt {
  margin-bottom: emRhythm($base-line-multi);
}

#goog-wm-sb {
  @extend %button;
}
