        </div>
        <aside class="secondary vcard author" role="complementary">
          <img alt="A photo of David Ensinger" class="secondary-photo photo" src="/assets/img/david-ensinger.jpg">
          <p>Hi, I’m <strong class="fn">David Ensinger</strong> and I’m a <strong>Front End Developer</strong>. Learn more <a href="/about/" class="url">about me</a>.</p>
          <p>Have a look around and please don’t hesitate to <a href="mailto:hello@davidensinger.com" class="email">contact me</a> with any comments, questions, or just to say hello!</p>
          <a class="icon-left icon-twitter" href="https://twitter.com/intent/user?screen_name=DavidEnsinger" title="Follow @DavidEnsinger on Twitter">Follow me on Twitter</a>
        </aside>
      </div>
      <footer class="site-footer" role="contentinfo">
        <ul class="footer-icons">
          <li class="footer-icon-item">
            <a class="footer-icon-anchor footer-icon icon-twitter" href="http://twitter.com/DavidEnsinger" title="Follow me on Twitter">
              <span class="footer-icon-title">Twitter</span>
            </a>
          </li>
          <li class="footer-icon-item">
            <a class="footer-icon-anchor footer-icon icon-github" href="http://github.com/davidensinger" title="Follow me on GitHub">
              <span class="footer-icon-title">GitHub</span>
            </a>
          </li>
          <li class="footer-icon-item">
            <a class="footer-icon-anchor footer-icon icon-tumblr" href="http://www.republicofthespirit.com/" title="Follow me on Tumblr">
              <span class="footer-icon-title">Tumblr</span>
            </a>
          </li>
        </ul>
        <p>
          &copy; {{ site.time | date: "%Y" }} David Ensinger. All rights reserved.
          <a class="link-rss" href="/atom.xml" title="Subscribe to my RSS feed">
            <span aria-hidden="true" class="icon-blank"></span>
            <span aria-hidden="true" class="icon-rss"></span>
            <span class="visuallyhidden">RSS Feed</span>
          </a>
        </p>
      </footer>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-26697016-1', 'davidensinger.com');
      ga('send', 'pageview');
    </script>
  </body>
</html>
