<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="lt-ie10"> <![endif]-->
<!--[if gt IE 10]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width" name="viewport">
    <link href="//fonts.googleapis.com" rel="dns-prefetch">
    <link href="//themes.googleusercontent.com" rel="dns-prefetch">
    <link href="//www.google-analytics.com" rel="dns-prefetch">
    {% if page.title %}
      <title>{{ page.title }} &ndash; {{ site.title }}</title>
      <meta content="{{ page.title }}" property="og:title">
      <meta content="{{ page.title }}" name="twitter:title">
    {% elsif page.grouptype == "tag" %}
      <title>Posts Tagged “{{ page.tag }}” &ndash; {{ site.title }}</title>
      <meta content="Posts Tagged “{{ page.tag }}” &ndash; {{ site.title }}" property="og:title">
      <meta content="Posts Tagged “{{ page.tag }}” &ndash; {{ site.title }}" name="twitter:title">
    {% elsif page.grouptype == "category" %}
      <title>Posts Categorized “{{ page.category | titlecase }}” &ndash; {{ site.title }}</title>
      <meta content="Posts Categorized “{{ page.category | titlecase }}” &ndash; {{ site.title }}" property="og:title">
      <meta content="Posts Categorized “{{ page.category | titlecase }}” &ndash; {{ site.title }}" name="twitter:title">
    {% else %}
      <title>{{ site.title }}</title>
      <meta content="{{ site.title }}" property="og:title">
      <meta content="{{ site.title }}" name="twitter:title">
    {% endif %}
    <meta content="{{ site.title }}" property="og:site_name">
    {% if page.description %}
      <meta content="{{ page.description }}" name="description">
      <meta content="{{ page.description }}" property="og:description">
      <meta content="{{ page.description }}" name="twitter:description">
    {% else %}
      <meta content="{{ site.description }}" name="description">
      <meta content="{{ site.description }}" property="og:description">
      <meta content="{{ site.description }}" name="twitter:description">
    {% endif %}
    <meta content="David Ensinger" name="author">
    <link href="https://plus.google.com/111951762509840042073/posts" rel="author">
    <meta content="@DavidEnsinger" name="twitter:site">
    <meta content="@DavidEnsinger" name="twitter:creator">
    <link href="/atom.xml" rel="alternate" title="Atom" type="application/atom+xml">
    <link href="/sitemap.xml" rel="sitemap" title="Sitemap" type="application/xml">
    <link href="/favicon.ico" rel="shortcut icon">
    <link href="{{ site.url }}{{ page.url }}" rel="canonical">
    {% if page.title %}
      <meta content="article" property="og:type">
    {% else %}
      <meta content="website" property="og:type">
    {% endif %}
    <meta content="summary" name="twitter:card">
    {% if page.url %}
      <meta content="{{ site.url }}{{ page.url }}" property="og:url">
      <meta content="{{ site.url }}{{ page.url }}" name="twitter:url">
    {% endif %}
    {% if page.date %}
      <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
      <meta content="{{ site.url }}/about/" property="article:author">
    {% endif %}
    {% if page.image %}
      <meta property="og:image" content="{{ site.url }}/assets/img/posts/{{ page.image }}">
      <meta name="twitter:image:src" content="{{ site.url }}/assets/img/posts/{{ page.image }}">
    {% else %}
      <meta property="og:image" content="{{ site.url }}/assets/img/logo-high-resolution.png">
      <meta name="twitter:image:src" content="{{ site.url }}/assets/img/logo-high-resolution.png">
    {% endif %}
    {% if page.categories %}
      {% for category in page.categories limit:1 %}
      <meta property="article:section" content="{{ category }}">
      {% endfor %}
    {% endif %}
    {% if page.tags %}
      {% for tag in page.tags %}
      <meta property="article:tag" content="{{ tag }}">
      {% endfor %}
    {% endif %}
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600" rel="stylesheet" type="text/css">
    <link href="/assets/css/styles.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
      <script src="/assets/js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body class="{{ page.page-class }}">
    <div class="outer-container">
      <div class="inner-container">
        <!--[if lt IE 9]><div class="chromeframe">
          <p>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
        </div><![endif]-->
        <header class="site-header" role="banner">
          <a class="site-logo" href="/">{% include logo.svg %}</a>
          <nav class="main-navigation" role="navigation">
            <h1 class="visuallyhidden">Menu</h1>
            <div class="visuallyhidden">
              <a href="#content" title="Skip to content">Skip to content</a>
            </div>
            <ul>
              <li>
                <a class="nav-home" href="/">Home</a>
              </li>
              <li>
                <a class="nav-about" href="/about/">About</a>
              </li>
            </ul>
          </nav>
        </header>
        <div class="primary" id="content" role="main">
