// ==========================================================================
// Mixins
// ==========================================================================

// Border
// ==========================================================================
@mixin border($border-or-hr, $direction) {
  @if $border-or-hr == 'border' {
    border-#{$direction}: 1px solid $border-color;
  } @elseif $border-or-hr == 'hr' {
    border-#{$direction}: 2px solid $hr-color;
  }
}

// Breakpoint
// http://css-tricks.com/media-queries-sass-3-2-and-codekit/
// ==========================================================================
@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 1281px) { @content; }
  }
  @if $point == large-desktop {
    @media (min-width: 1441px) { @content; }
  }
  @if $point == extra-large-desktop {
    @media (min-width: 1600px) { @content; }
  }
  @if $point == extra-extra-large-desktop {
    @media (min-width: 1800px) { @content; }
  }
  @if $point == smaller-than-small-desktop {
    @media (max-width: 959px) { @content; }
  }
  @if $point == tablet-portrait-to-small-desktop {
    @media (min-width: 768px) and (max-width: 959px) { @content; }
  }
  @if $point == all-mobile {
    @media (max-width: 767px) { @content; }
  }
  @if $point == mobile-landscape-to-tablet-portrait {
    @media (min-width: 480px) and (max-width: 767px) { @content; }
  }
  @elseif $point == mobile-portrait-to-mobile-landscape {
    @media (max-width: 479px) { @content; }
  }
}

// Rem
// https://gist.github.com/webgefrickel/4530526
// ==========================================================================

// a small mixin for easy use of rem with px as fallback
// usage: @include rem(font-size, 14px)
// usage: @include rem(margin, 0 12px 2 1.2)
// usage: @include rem(padding, 1.5 24px)
// 
// thanks to Eric Meyer for https://github.com/ericam/susy
// and Hans Christian Reinl for http://drublic.de/blog/rem-fallback-sass-less/

@mixin rem($property, $values) {
  // Create a couple of empty lists as output buffers.
  $font-size: $base-font-size;
  $px-values: ();
  $rem-values: ();
 
  // Loop through the $values list
  @each $value in $values {
    // For each property value, if it's in rem or px, derive both rem and
    // px values for it and add those to the end of the appropriate buffer.
    // Ensure all pixel values are rounded to the nearest pixel.
    @if $value == 0 or $value == 0px {
      // 0 -- use it without a unit
      $px-values: join($px-values, 0);
      $rem-values: join($rem-values, 0);
    } @else if type-of($value) == number and not unitless($value) and (unit($value) == px) {
      // px value given - calculate rem value from font-size
      $new-rem-value: $value / $font-size;
      $px-values: join($px-values, round($value));
      $rem-values: join($rem-values, #{$new-rem-value}rem);
    } @else if type-of($value) == number and not unitless($value) and (unit($value) == "%") {
      // % value given - don't add px or rem
      $px-values: join($px-values, #{$value});
      $rem-values: join($rem-values, #{$value});
    } @else if $value == auto {
      // auto - don't add px or rem
      $px-values: join($px-values, auto);
      $rem-values: join($rem-values, auto);
    } @else {
      // unitless value - use those directly as rem and calculate the px-fallback
      $px-values: join($px-values, round($value * $font-size));
      $rem-values: join($rem-values, #{$value}rem);
    }
  }
 
  // output the converted rules
  #{$property}: $px-values;
  #{$property}: $rem-values;
}