// ==========================================================================
// Scaffolding
// ==========================================================================

// apply a natural box layout model to all elements via http://paulirish.com/2012/box-sizing-border-box-ftw/
// universal selector doesn't apply to pseudo-elements, so: http://jsfiddle.net/grewis/nHaxL/4/
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  overflow-y: scroll;
  min-height: 100%; }

body {
  height: 100%;
  background: url("/assets/img/background.png"); }

.outer-container {
  max-width: 94%;
  @extend %transitions-all; }

.inner-container {
  @extend %clearfix;
  background: $background-container;
  box-shadow: 0 0 3em 0 rgba($green-darkest, 0.1); }

// Common
// ==========================================================================
header,
.primary,
.secondary,
footer {
  @include rem(padding, 3); }

// Header
// ==========================================================================
header { }

// Primary
// ==========================================================================
.primary,
.secondary {
  float: left; }

.primary {
  width: 70%; }

// Secondary
// ==========================================================================
.secondary {
  width: 30%; }

// Footer
// ==========================================================================
footer { }

.social-icons {
  text-align: right; }