// ==========================================================================
// Scaffolding
// ==========================================================================

// apply a natural box layout model to all elements via http://paulirish.com/2012/box-sizing-border-box-ftw/
// universal selector doesn't apply to pseudo-elements, so: http://jsfiddle.net/grewis/nHaxL/4/
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 100%;
  overflow-y: scroll;
  min-height: 100%; }

body {
  height: 100%;
  background: url("/assets/img/background.png"); }

.container {
  @extend %clearfix;
  max-width: 94%;
  background: $background-container;
  @extend %transitions-all;
  box-shadow: 0 0 3em 0 rgba($green-darkest, 0.1); }

%padding {
  @include rem(padding, 1); }

header {
  @extend %padding; }

.primary,
.secondary {
  float: left;
  @extend %padding; }

.primary {
  width: 70%; }

.secondary {
  width: 30%; }

footer {
  @extend %padding; }