// ==========================================================================
// Variables
// ==========================================================================

// Colors
// Visualize SASS color functions in real-time without compiling:
// http://sassme.arc90.com/
// ==========================================================================

// Reds
$red: #E74C3C;
$red-lightest: lighten($red, 36);
$red-lighter: lighten($red, 24);
$red-light: lighten($red, 12);
$red-dark: darken($red, 12);
$red-darker: darken($red, 24);
$red-darkest: darken($red, 36);

// Oranges
$orange: #E67E22;
$orange-lightest: lighten($orange, 36);
$orange-lighter: lighten($orange, 24);
$orange-light: lighten($orange, 12);
$orange-dark: darken($orange, 12);
$orange-darker: darken($orange, 24);
$orange-darkest: darken($orange, 36);

// Yellows
$yellow: #F1C40F;
$yellow-lightest: lighten($yellow, 36);
$yellow-lighter: lighten($yellow, 24);
$yellow-light: lighten($yellow, 12);
$yellow-dark: darken($yellow, 12);
$yellow-darker: darken($yellow, 24);
$yellow-darkest: darken($yellow, 36);

// Greens
$green: #2ECC71;
$green-lightest: lighten($green, 36);
$green-lighter: lighten($green, 24);
$green-light: lighten($green, 12);
$green-dark: darken($green, 12);
$green-darker: darken($green, 24);
$green-darkest: darken($green, 36);

// Blues
$blue: #3498DB;
$blue-lightest: lighten($blue, 36);
$blue-lighter: lighten($blue, 24);
$blue-light: lighten($blue, 12);
$blue-dark: darken($blue, 12);
$blue-darker: darken($blue, 24);
$blue-darkest: darken($blue, 36);

// White, black, and grays
$white: #fff;
$white-dark: #f6f6f6;
$white-darker: #eee;
$gray: #808080;
$gray-lightest: lighten($gray, 36);
$gray-lighter: lighten($gray, 24);
$gray-light: lighten($gray, 12);
$gray-dark: darken($gray, 12);
$gray-darker: darken($gray, 24);
$gray-darkest: darken($gray, 36);
$black-lighter: #111;
$black-light: #090909;
$black: #000;

// Backgrounds
// ==========================================================================
$background-inner-container: $white;
$background-gray-light: mix($white, $white-dark);

// Blockquotes
// ==========================================================================

// Borders
// ==========================================================================
$border-color: $gray-lighter;

// Horizontal rule
// ==========================================================================
$hr-color: $gray-lightest;

// Icons
// ==========================================================================
$icon-meta-color: $gray-lighter;
$icon-meta-color-hover: $gray-light;

// Links
// ==========================================================================
$link-color: $blue;
$link-color-hover: $blue-dark;
$link-color-focus: $green;

$link-nav-color: $gray;
$link-nav-color-hover: $blue-dark;
$link-nav-color-focus: $link-color-focus;

$link-heading-color-hover: $blue-darker;
$link-heading-color-focus: $link-color-focus;

$link-meta-color: $gray-light;
$link-meta-color-hover: $gray;
$link-meta-color-focus: $link-color-focus;

$link-footer-icon-color: inherit;
$link-footer-icon-color-hover: $white-dark;
$link-footer-icon-color-focus: $link-color-focus;

// Margin
// ==========================================================================

// Padding
// ==========================================================================

// Typography
// ==========================================================================
$base-font-face: 'Open Sans', sans-serif!default;
$base-font-weight: 400!default;
$base-font-weight-bold: 600!default;

$base-font-size: 16px!default;
$base-line-height: 24px!default;
$line-height-ratio: $base-line-height/$base-font-size!default;

$text-color-lightest: mix($blue-lighter, $gray-lighter, 25%);
$text-color-lighter: mix($blue-light, $gray-light, 25%);
$text-color-light: mix($blue, $gray, 25%);
$text-color: mix($blue-dark, $gray-dark, 25%);
$text-color-dark: mix($blue-darker, $gray-darker, 25%);

$heading-color: $text-color-dark;
$footer-color: mix($blue-lighter, $white-darker);

$selection-color: $white-dark;
$selection-background: $green-light;