// ==========================================================================
// Footer
// ==========================================================================

.site-footer {
  @extend %clearfix;
  color: $footer-color;
  text-shadow: 0 1px 1px rgba($text-color, 0.25);
  @include breakpoint(smaller-than-small-desktop) {
    text-align: center; } }

.footer-icons {
  float: right;
  position: relative;
  @include rem(top, -1.5);
  list-style: none;
  text-align: center;
  @include breakpoint(smaller-than-small-desktop) {
    position: static;
    top: 0;
    @include rem(margin, 0 0 3);
    float: none; } }

.footer-icon-item {
  display: inline-block; }

.footer-icon-anchor {
  display: block;
  @include rem(width, 5);
  @include rem(height, 5);
  @include rem(border-radius, 50%);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  &:link,
  &:visited {
    color: inherit; }
  &:hover,
  &:active,
  &:focus {
    color: $white-dark;
    background: $white-dark;
    box-shadow: 0 0 3em 0 rgba($green-darkest, 0.25);
    .footer-icon-title {
      opacity: 1; }
    &:before {
      -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
      transform: scale(1.5); } } }

.icon-twitter {
  &:hover,
  &:focus,
  &:active {
    &:before {
      color: #00acee; } } }

.icon-github {
  &:hover,
  &:focus,
  &:active {
    &:before {
      color: #4183c4; } } }

.icon-tumblr {
  &:hover,
  &:focus,
  &:active {
    &:before {
      color: #364d6d; } } }

.footer-icon {
  display: block;
  @include rem(line-height, 5);
  &:before {
    @extend %beta-font-size;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; } }

.footer-icon-title {
  opacity: 0;
  display: block;
  @extend %epsilon-font-size;
  @include rem(line-height, 2);
  font-weight: $base-font-weight-bold;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.footer-icon,
.icon-blank,
.icon-rss {
  font-weight: normal !important; }

.link-rss {
  position: relative;
  z-index: 1;
  @include rem(left, 0.5);
  &:link,
  &:visited {
    color: inherit; }
  .icon-blank,
  .icon-rss {
    position: absolute; }
  .icon-rss {
    z-index: 1; }
  .icon-blank {
    display: none;
    z-index: 0;
    color: $white-dark; }
  &:hover,
  &:focus,
  &:active {
    .icon-rss {
      color: #FF6600; }
    .icon-blank {
      display: inline; } } }