// ==========================================================================
// Header
// ==========================================================================

.site-header {
  @extend %clearfix; }

.site-logo {
  float: left;
  @include rem(margin-right, 2); }

.no-inlinesvg .site-logo {
  display: none; }

.logo {
  @include rem(width, 6);
  @include rem(height, 6);
  &:active {
    -ms-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); } }