!!! 5
<!--[if IE 8]> <html lang="en" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 10]><!-->
%html.no-js{ :lang => "en" }
  <!--<![endif]-->
  %head
    %meta{ :charset => "utf-8" }/
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }/
    %meta{ :name => "viewport", :content => "width=device-width" }/

    %link{ :href => "//fonts.googleapis.com", :rel => "dns-prefetch" }/
    %link{ :href => "//themes.googleusercontent.com", :rel => "dns-prefetch" }/
    %link{ :href => "//www.google-analytics.com", :rel => "dns-prefetch" }/

    {% if page.title %}
    %title {{ page.title }} &ndash; {{ site.title }}
    {% else %}
    %title {{ site.title }}
    {% endif %}

    {% if page.description %}
    %meta{ :name => "description", :content => "{{ page.description }}" }/
    {% else %}
    %meta{ :name => "description", :content => "{{ site.description }}" }/
    {% endif %}
    %meta{ :name => "author", :content => "David Ensinger" }/

    %link{ :rel => "alternate", :type => "application/atom+xml", :title => "Atom", :href => "/atom.xml" }/
    %link{ :rel => "alternate", :type => "application/rss+xml", :title => "RSS", :href => "/rss.xml" }/

    %link{ :href => "/favicon.ico", :rel => "shortcut icon" }/

    {% if page.title %}
    %meta{ :property => "og:type", :content => "article" }/
    %meta{ :property => "og:title", :content => "{{ page.title }}" }/
    {% else %}
    %meta{ :property => "og:type", :content => "website" }/ 
    {% endif %}
     
    {% if site.title %}
    %meta{ :property => "og:site_name", :content => "{{ site.title }}" }/
    {% endif %}
     
    {% if page.url %}
    %meta{ :property => "og:url", :content => "{{ site.url }}{{ page.url }}" }/
    {% endif %}
     
    {% if page.date %}
    %meta{ :property => "article:published_time", :content => "{{page.date | date_to_xmlschema}}" }/
    {% endif %}

    %link{ :href => "http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600", :type => "text/css", :rel => "stylesheet" }/
    %link{ :href => "/assets/css/styles.min.css", :type => "text/css", :rel => "stylesheet" }/

    %script{ :src => "/assets/js/vendor/modernizr-2.6.2.min.js" }

  %body{ :class => "{{ page.page-class }}" }

    .outer-container
      .inner-container
        =surround "<!--[if lt IE 9]>", "<![endif]-->" do
          .chromeframe
            %p Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.
        %header{ :class => "site-header", :role => "banner" }
          %nav{ :role => "navigation" }
            %h1.visuallyhidden
            .visuallyhidden
              %a{ :title => "Skip to content", :href => "#content" } Skip to content
            %ul
              %li
                %a{ :href => "/", :class => "nav-home" } Home
              %li
                %a{ :href => "/about/", :class => "nav-about" } About
              %li
                %a{ :href => "/archive/", :class => "nav-archive" } Archive
        #content.primary{ :role => "main" }
          {{ content }}
        %aside.secondary{ :role => "complementary" }
          %img{ :src => "/assets/img/david-ensinger.jpg", :class => "secondary-photo", :alt => "A photo of David Ensinger" }
          %p Hi, I’m <strong>David Ensinger</strong> and I’m a <strong>Front End Developer</strong>.
          %p Have a look around and please don’t hesitate to <a href="mailto:hello@davidensinger.com">contact me</a> with any comments, questions, or just to say hello!
          %a{ :title => "Follow @DavidEnsinger on Twitter", :href => "http://twitter.com/DavidEnsinger", :class => "icon-left icon-twitter" } Follow me on Twitter
      %footer{ :class => "site-footer", :role => "contentinfo" }
        .footer-icons
          %a{ :title => "Follow me on Twitter", :href => "http://twitter.com/DavidEnsinger", :class => "footer-icon-link" }
            %span{ :class => "footer-icon icon-twitter", :"aria-hidden" => "true" }
            %span.visuallyhidden Twitter
          %a{ :title => "Follow me on GitHub", :href => "http://github.com/davidensinger", :class => "footer-icon-link" }
            %span{ :class => "footer-icon icon-github", :"aria-hidden" => "true" }
            %span.visuallyhidden GitHub
          %a{ :title => "Follow me on Tumblr", :href => "http://www.republicofthespirit.com/", :class => "footer-icon-link" }
            %span{ :class => "footer-icon icon-tumblr", :"aria-hidden" => "true" }
            %span.visuallyhidden Tumblr
        %p
          &copy; {{ site.time | date: '%Y' }} David Ensinger. All rights reserved.
          %a{ :title => "Subscribe to my RSS feed", :href => "/atom.xml", :class => "link-rss" }
            %span{ :class => "icon-rss", :"aria-hidden" => "true" }
            %span.visuallyhidden RSS

    %script{ :src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" }
    :javascript
      window.jQuery || document.write("<script src='/assets/js/vendor/jquery-1.9.1.min.js'><\/script>")
    %script{ :src => "/assets/js/plugins.js" }
    %script{ :src => "/assets/js/main.js" }
    :javascript
      var _gaq=[["_setAccount","UA-26697016-1"],["_trackPageview"],["_trackPageLoadTime"]];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
      s.parentNode.insertBefore(g,s)}(document,"script"));