\---
layout: default
title: Home
page-class: page-home
description: David Ensinger is a Front End Developer from Columbus, OH
\---

{% for post in paginator.posts %}
%article.post
  %header.entry-header
    %h1.entry-title
      %a{ :href => "{{ post.url }}", :title => "Permalink to {{ post.title }}", :rel => "bookmark" }
        {{ post.title }}
    .entry-meta
      %span.icon-left.icon-entry-date.entry-meta-icon
        %a{ :href => "{{ post.url }}", :title => " {{ post.date }}", :class => "entry-meta-link", :rel => "bookmark"}
          %time{ :datetime => "{{ post.date }}" }
            {{ post.date | date: "%B %d, %Y" }}
    .entry-content
      {% if post.excerpt %}
      {{ post.excerpt | markdownify }}
      %p
        %a{ :href => "{{ post.url }}", :title => "Permalink to {{ post.title }}", :rel => "bookmark", :class => "continue-reading" }
          Continue Reading
      {% else %}
      {{ post.content }}
      {% endif %}
{% endfor %}