\---
layout: default
page-class: page-post
\---
%article.post.hentry
  %header.entry-header
    %h1.entry-title
      {{ page.title }}
    .entry-meta
      %span.icon-left.icon-entry-date
        %time{ :datetime => "{{ page.date | date_to_xmlschema }}", :class => "date updated" }
          {{ page.date | date: "%B %d, %Y" }}
  .entry-content
    {{ content }}
%nav{ :role => "navigation", :class => "post-navigation" }
  %h1.visuallyhidden Post navigation
  {% if page.previous %}
  .nav-previous
    %a{ :href => "{{ site.url }}{{ page.previous.url }}", :class => "nav-previous-link", :rel => "prev" } {{ page.previous.title }}
  {% endif %}
  {% if page.next %}
  .nav-next
    %a{ :href => "{{ site.url }}{{ page.next.url }}", :class => "nav-next-link", :rel => "next" } {{ page.next.title }}
  {% endif %}