\---
layout: default
\---
%article.post.hentry
  %header.entry-header
    %h1.entry-title
      {{ page.title }}
    .entry-meta
      %span.icon-left.icon-entry-date
        %time{ :datetime => "{{ page.date | date_to_xmlschema }}" }
          {{ page.date | date: "%B %d, %Y" }}
  .entry-content
    {{ content }}