        </div>
        <aside class="secondary vcard author" role="complementary">
          <img alt="A photo of David Ensinger" class="secondary-photo photo" src="{{ site.url }}/img/social/david-ensinger.jpg">
          <p>Hi, I’m <strong class="fn">David Ensinger</strong> and I’m a <strong>Front End Developer</strong>. Learn more <a href="/about/" class="url">about me</a>.</p>
          <p>Have a look around and please don’t hesitate to <a href="mailto:hello@davidensinger.com" class="email">contact me</a> with any comments, questions, or just to say hello!</p>
          <a class="icon-left icon-twitter" href="https://twitter.com/intent/user?screen_name=DavidEnsinger" title="Follow @DavidEnsinger on Twitter">Follow me on Twitter</a>
        </aside>
      </div>
      <footer class="site-footer" role="contentinfo">
        <ul class="footer-icons">
          <li class="footer-icon-item">
            <a class="footer-icon-anchor footer-icon icon-twitter" href="http://twitter.com/DavidEnsinger" title="Follow me on Twitter">
              <span class="footer-icon-title">Twitter</span>
            </a>
          </li>
          <li class="footer-icon-item">
            <a class="footer-icon-anchor footer-icon icon-github" href="http://github.com/davidensinger" title="Follow me on GitHub">
              <span class="footer-icon-title">GitHub</span>
            </a>
          </li>
          <li class="footer-icon-item">
            <a class="footer-icon-anchor footer-icon icon-tumblr" href="http://www.republicofthespirit.com/" title="Follow me on Tumblr">
              <span class="footer-icon-title">Tumblr</span>
            </a>
          </li>
        </ul>
        <p>
          &copy; {{ site.time | date: "%Y" }} David Ensinger. All rights reserved.
          <a class="link-rss" href="/atom.xml" title="Subscribe to my RSS feed">
            <span aria-hidden="true" class="icon-blank"></span>
            <span aria-hidden="true" class="icon-rss"></span>
            <span class="visuallyhidden">RSS Feed</span>
          </a>
        </p>
      </footer>
    </div>
  </body>
</html>
