        </div>

        <aside class="secondary vcard author clearfix" role="complementary">
          <img alt="David Ensinger" class="secondary-photo srcset-secondary media-circle photo" src="/img/srcset/david-ensinger.jpg">
          <p>Hi, I’m <strong class="fn">David Ensinger</strong> and I’m a <strong>Front End Developer</strong>. Learn more <a href="/about/" class="url">about me</a>.</p>
          <p>Have a look around and please don’t hesitate to <a href="mailto:hello@davidensinger.com" class="email">contact me</a> with any comments, questions, or just to say hello!</p>
          <a class="secondary-twitter--link" href="http://twitter.com/DavidEnsinger"><span class="secondary-twitter--icon">{% include icons/icon-twitter.svg %}</span>Follow me on Twitter</a>
        </aside>
      </div>

      <footer id="colophon" class="site-footer clearfix" role="contentinfo">
        <div class="site-footer--secondary">
          <ul class="site-footer--icons list-inline">
            <li class="site-footer--icons__item">
              <a class="site-footer--icons__anchor site-footer--icons__icon" href="http://twitter.com/DavidEnsinger">
                {% include icons/icon-twitter.svg %}
                <span class="site-footer--icons--title">Twitter</span>
              </a>
            </li>
            <li class="site-footer--icons__item">
              <a class="site-footer--icons__anchor site-footer--icons__icon" href="http://github.com/davidensinger">
                {% include icons/icon-github.svg %}
                <span class="site-footer--icons--title">GitHub</span>
              </a>
            </li>
            <li class="site-footer--icons__item">
              <a class="site-footer--icons__anchor site-footer--icons__icon" href="http://www.republicofthespirit.com/">
                {% include icons/icon-tumblr.svg %}
                <span class="site-footer--icons--title">Tumblr</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="site-footer--primary clearfix">
          <p class="site-footer--copyright">&copy; {{ site.time | date: "%Y" }} David Ensinger. All rights reserved.</p>
          <a class="site-footer--feed" href="/atom.xml" title="Subscribe to my RSS feed">
            {% include icons/icon-rss.svg %}
            <span class="visuallyhidden">RSS Feed</span>
          </a>
      </footer>
    </div>

    <!-- build:js(app) /js/scripts.js -->
    <script src="/js/_modules/breakpoints-tracking.js"></script>
    <script src="/js/scripts.js"></script>
    <!-- endbuild -->

    <!-- Load GA after the `window.ga` is initialized -->
    <script async src="//www.google-analytics.com/analytics.js"></script>
  </body>
</html>
