// ==========================================================================
// Fonts
// ==========================================================================

%font-open-sans-regular {
  font-family: 'open-sans-regular', sans-serif;
  font-weight: normal;
  font-style: normal;
}

%font-open-sans-italic {
  font-family: 'open-sans-italic', sans-serif;
  font-weight: normal;
  font-style: normal;
}

%font-open-sans-semibold {
  font-family: 'open-sans-semibold', sans-serif;
  font-weight: normal;
  font-style: normal;
}
