// ==========================================================================
// Forms
// ==========================================================================

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input[type="text"],
textarea {
  width: 100%;
  display: block;
  padding: 0.5em;
  color: $gray-light;
  background: $white-dark;
  border: 1px solid $gray-lightest;
  border-radius: 0.33em;
  outline-color: transparent;
  outline-style: none;
  transition: all 1s;
  backface-visibility: hidden;

  &:hover {
    color: $gray;
    background: $background-gray-light;
  }

  &:focus,
  &:active {
    color: $gray-dark;
    background: $white;
    box-shadow: inset 0 0 0.33em $white-dark;
  }
}

textarea {
  resize: vertical;
}

label {
  @extend %font-open-sans-semibold;
  color: $gray-darker;
}

// Placeholder styling
input::placeholder {
  color: $gray-light;
}

input:hover::placeholder {
  color: $gray;
}
