// ==========================================================================
// Links
// ==========================================================================

a {
  color: $link-color;
  @extend %font-open-sans-semibold;
  text-decoration: none;
  transition: color 0.2s;
  backface-visibility: hidden;

  &:hover {
    color: $link-color-hover;
  }

  &:focus,
  &:active {
    color: $link-color-focus;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {

  a {
    color: inherit;

    &:hover {
      color: $link-heading-color-hover;
    }

    &:focus,
    &:active {
      color: $link-heading-color-focus;
    }
  }
}
