// ==========================================================================
// Media
// ==========================================================================

img {
  max-width: 100%;
  width: auto;
  vertical-align: middle;
}

.media-border {
  border: 1px solid $color-media--border__color;
}

.media-frame {
  max-width: 98%;
  padding: 5px;
  background-color: $color-media--background__color;
  border: 1px solid $color-media--border__color;
}

.media-circle {
  border-radius: 100%;
}

.media-rounded {
  border-radius: 5px;
}

// alignment
.media-left {
  float: left;
  margin-right: 1.5rem;
}

.media-right {
  float: right;
  margin-left: 1.5rem;
}

.media-center {
  clear: both;
  display: block;
  margin: 0 auto;
}
