// ==========================================================================
// Typography
// ==========================================================================

html {
  font: 106.25%/#{$line-height-ratio} $base-font-face; // 17px

  @include breakpoint(desktop) {
    font-size: 112.5%; // 18px
  }

  @include breakpoint(large-desktop) {
    font-size: 118.75%; // 19px
  }

  @include breakpoint(smaller-than-small-desktop) {
    font-size: 100%; // 16px
  }
}

body,
button,
input,
select,
textarea {
  @extend %font-open-sans-regular;
  line-height: $line-height-ratio;
  color: $text-color;
}

// Remove text-shadow in selection highlight: h5bp.com/i
// These selection declarations have to be separate.
// Customize the background color to match your design.
::selection {
  color: $selection-color;
  background: $selection-background;
  text-shadow: none;
}

// Font sizes
%giga-font-size {
  @include rem(font-size, 3);
}

%giga-line-height,
%gamma-line-height {
  line-height: 1;
}

%giga-margin,
%gamma-margin {
  @include rem(margin, 1.5 0 0.5);
}

%giga {
  @extend %giga-font-size;
  @extend %giga-line-height;
  @extend %giga-margin;
}

%mega-font-size {
  @include rem(font-size, 2.5);
}

%mega-line-height,
%delta-line-height {
  line-height: 1.2;
}

%mega-margin,
%delta-margin {
  @include rem(margin, 1.8 0 0.6);
}

%mega {
  @extend %mega-font-size;
  @extend %mega-line-height;
  @extend %mega-margin;
}

%alpha-font-size {
  @include rem(font-size, 2.25);
}

%alpha-line-height {
  line-height: 1.3333;
}

%alpha-margin {
  @include rem(margin, 1.995 0 0.665);
}

%alpha {
  @extend %alpha-font-size;
  @extend %alpha-line-height;
  @extend %alpha-margin;
}

%beta-font-size {
  @include rem(font-size, 2);
}

%beta-line-height,
%epsilon-line-height {
  line-height: 1.5;
}

%beta-margin {
  @include rem(margin, 2.25 0 0.75);
}

%beta {
  @extend %beta-font-size;
  @extend %beta-line-height;
  @extend %beta-margin;
}

%gamma-font-size {
  @include rem(font-size, 1.5);
}

%gamma {
  @extend %gamma-font-size;
  @extend %gamma-line-height;
  @extend %gamma-margin;
}

%delta-font-size {
  @include rem(font-size, 1.25);
}

%delta {
  @extend %delta-font-size;
  @extend %delta-line-height;
  @extend %delta-margin;
}

%epsilon-font-size {
  @include rem(font-size, 1);
}

%epsilon-margin {
  @include rem(margin-top, 1.5);
}

%epsilon {
  @extend %epsilon-font-size;
  @extend %epsilon-line-height;
  @extend %epsilon-margin;
}

%zeta-font-size {
  @include rem(font-size, 0.875);
}

%zeta-line-height {
  line-height: 1.7143;
}

%zeta-margin {
  @include rem(margin, 2.57145 0.85715);
}

%zeta {
  @extend %zeta-font-size;
  @extend %zeta-line-height;
  @extend %zeta-margin;
}

%eta-font-size {
  @include rem(font-size, 0.75);
}

%eta-line-height {
  line-height: 2;
}

%eta-margin {
  @include rem(margin, 3 0 1);
}

%eta {
  @extend %eta-font-size;
  @extend %eta-line-height;
  @extend %eta-margin;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: left;
  padding: 0;
  color: $heading-color;
  @extend %font-open-sans-semibold;
}

h1 {
  margin-top: 0;
  @extend %mega-font-size;
  @extend %mega-line-height;
  @include rem(margin-bottom, 0.9);
}

h2 {
  @extend %beta; }

h3 {
  @extend %gamma; }

h4 {
  @extend %delta; }

h5 {
  @extend %epsilon;
  text-transform: uppercase; }

h6 {
  @extend %epsilon; }

p {
  margin-top: 0;
  @extend %epsilon-font-size;
  @extend %epsilon-line-height;
  @extend %margin-bottom;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

ul,
ol,
dd {
  padding: 0;
  @include rem(margin-left, 1.5);
  @extend %margin-bottom;
}

dt {
  @extend %font-open-sans-semibold;
}

// No top margins on first children or bottom margins on last children
p, ul, ol, dl,
blockquote, pre {
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

// No margins on nested elements
li {
  p, ul, ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

// A better looking default horizontal rule
hr {
  display: block;
  height: 1px;
  border: 0;
  @include rem(margin-top, 1.5);
  @include border(hr,top);
  @extend %margin-bottom;
  padding: 0;
}

// Font weights
b,
strong,
th {
  @extend %font-open-sans-semibold;
}

// Font styles
cite,
em,
i,
dfn {
  @extend %font-open-sans-italic;
}

blockquote {
  position: relative;
  z-index: 1;
  @include rem(margin, 0 0 1.5);
  @include rem(padding, 2 3);
  background: $gray-darker;
  border-radius: 5px;
  text-align: right;
  color: $gray-lighter;
  text-shadow: 0 1px 0 $gray-darkest;

  &:before {
    content: '\201C';
    position: absolute;
    top: 1.5rem;
    left: 2.5rem;
    z-index: -1;
    @include rem(font-size, 14);
    @extend %font-open-sans-semibold;
    color: #3c3c3c;
    text-shadow: none;
    line-height: 0.7;
  }

  code {
    padding: 0;
    color: $gray-lightest;
    background: none;
  }

  cite {
    color: $gray-lightest;
    @extend %font-open-sans-semibold;
    font-style: normal;

    a {

      &:link,
      &:visited {
        color: inherit;
      }

      &:hover {
        color: $white-dark;
      }

      &:focus,
      &:active {
        color: $white;
      }
    }
  }
}

address {
  @extend %margin-bottom;
}

abbr,
acronym {
  border-bottom: 1px dotted $text-color;
  cursor: help;
}

mark,
ins {
  background: $yellow-lighter;
  color: $yellow-darker;
  text-shadow: 0 1px 0 $yellow-lightest;
  text-decoration: none;
}

pre {
  @extend %gray-box;
  overflow: auto;
  max-width: 100%;

  code {
    padding: 0;
  }

  @include breakpoint(mobile-portrait-to-mobile-landscape) {
    @include rem(font-size, 0.75);
  }
}

code,
kbd,
tt,
var {
  @include rem(padding, 0.125 0.33);
  @include rem(border-radius, 0.5);
  background: $white-dark;
  color: $gray-dark;
  @extend %font-open-sans-regular;
       word-break: break-all;
       word-break: break-word;
          hyphens: auto;
}

strike,
s,
del {
  text-decoration: line-through;
  text-shadow: none;
}

sup,
sub {
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

small,
sup,
sub {
  font-size: 75%;
}

big {
  font-size: 125%;
}

figure {
  margin: 0;
}

table {
  width: 100%;
  @extend %margin-bottom;

  caption {
    @extend small;
    @include rem(margin-bottom, 0.25);
  }

  caption,
  th {
    text-align: left;
    @extend %font-open-sans-semibold;
  }

  td,
  th {
    @include rem(padding, 0.25 0.5);
  }

  thead {

    tr {
      background-color: $gray-lightest;
    }
  }

  tbody {

    tr {
      &:nth-child(odd) {
        background-color: $white-darker;
      }
    }
  }

  @include breakpoint(mobile-portrait-to-mobile-landscape) {
    @include rem(font-size, 0.75);
  }
}
